$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";

// endbower

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


body {
  padding-top: 50px;
}

/* Nav */

.navbar {
  background-color: #fff;
}

.navbar-default .navbar-brand{
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: .15em;
  color: #0281c1;
  
}

a{
  cursor: pointer;
}


/* Hero Section */

.hero{
  background-image: 
    linear-gradient(
      rgba(2, 129, 193, 0.5),
      rgba(5, 41, 155, 0.5)
    ),
    url(../images/preston-hero-2.jpg);
  background-size: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.hero-h2{
  margin-top: 0;
  padding-top: 25px;
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: .1em;
  text-align: center;
}

.hero-h3{
  margin-top: 20px;
  color: #fff;
  font-size: 16px;
  letter-spacing: .07em;
  text-align: center;
  font-weight: 200;
}

/* App Section */

.app-h3{
  margin-top: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: .1em;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 0;
}

.app-h4{
  margin-top: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 100;
  letter-spacing: .15em;
  text-align: center;
  padding-bottom: 20px;
}

.app-explain{
  background-color: #0281c1;
}

/* Privacy Page */


.privacy{
  margin-bottom: 30px;

  p{
    font-size: 12px;
  }

}

.priv-h1{
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: .08em;
  color: #0281c1;
  margin-bottom: 5px;
}

.priv-h2{
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .08em;
  color: #0281c1;
  margin-bottom: 5px;
}

/* Press */

.press-1{
  padding-top: 25px;
  padding-bottom: 40px;
}

.press-2{
  display: none;
}

.h2{
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: .18em;
  color: #0281c1;
}

.press-h1{
  text-align: center;
  font-size: 36px;
  margin-top: 20px;
  color: #616161;
  font-family: Georgia, "Lucida Grande", "Lucida Sans Unicode", helvetica, verdana, arial, times, "Times New Roman", sans-serif
}
.img-press{
  opacity: 0.5;
  -moz-opacity: 0.5;
  filter:alpha(opacity=5);
}


/* Footer */
.footer {
  padding-top: 40px;
  color: #fff;
  background-color: #112659;
  padding-bottom: 40px;

  a:hover{
    text-decoration: none;
    border-bottom: 1px solid #fff;
    color: #fff;
  }
}

.foot-brand{
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 100;
  letter-spacing: .15em;
  color: #fff;
}

.foot-copy {
  font-size: 10px;
  font-weight: 200;
}

.form-control{
  height: 24px;
}

.foot-h5{
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 200;
  letter-spacing: .15em;
  color: #fff;
  margin-right: 20px;
  float: left;
  display: block;
}

.base-none{
  display: none;
}


.no-pad{
  padding:0;
}



/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  
.press-2{
  display: block;
  padding-top: 50px;
  padding-bottom: 50px;
}

.base-none{
  display: block;
}



.hero-h2{
  margin-top: 150px;
  font-size: 80px; 
  letter-spacing: .1em;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;

}

.hero-h3{
  font-size: 20px;
  max-width: 650px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 100;
}

.app-h3{
  font-size: 30px;
}
.app-h4{
  font-size: 30px;
}

.press-h1{
  margin-top: 50px;
}

.footer {
  min-height: 200px;
}

.vertical-center{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}


  
}
